<header class>
  <h1 id="titulo">Datos capturados</h1>
</header>

<div class="container"> 
    <div class="card">
        <div class="card-header">
            <h3>Tabla de datos</h3>
        </div> 
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Fecha</th>
                        <th>Temperatura (celsius)</th>
                        <th>Ph</th>
                        <th>Humedad (% relativo)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>   
    </div>
</div>