.card {
    margin:10%;
    width: 100%;
}

header {
    width: 100%;
    margin-left: 60%;
    margin-top: 10%;
}

#titulo {
    text-align: center;
}

.container .card {
    margin-left: 63%;
}