<header class>
  <h1 id="titulo"><i class="fas fa-wrench"></i> Centro de control</h1>
</header>

<div class="container">
    <p>Seleccionar maceta:</p>
    <select [(ngModel)]="opcionSeleccionada" (change)="capturar()" class="form-control">
        <option value="0">Selecciona una opción</option>
        <option *ngFor="let maceta of macetas" value={{maceta}}>maceta {{maceta}}</option>
    </select>
    <br>
    <div class="card-group row" *ngIf="mostrar">
        <div class="card">
            <div class="card-header">
                <h1 id="planta1"><i class="fab fa-bitbucket"></i> Maceta {{macetaSelect}}</h1>
                <br>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group" id="b1p1">
                            <button (click)='setBtn1p()' type="button" class="btn {{btn1p}}"><i class="far fa-lightbulb"></i> {{btn1pTxt}}</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group" id="b2p1">
                            <button (click)='setBtn2p()' type="button" class="btn {{btn2p}}"><i class="fas fa-wind"></i> {{btn2pTxt}}</button>
                        </div>
                    </div>
                </blockquote>
            </div>  
        </div>

        <div class="card">
            <div class="card-header">
                <h1 id="planta1"><i class="fab fa-bitbucket"></i> Maceta {{macetaSelect}}</h1>
                <span>Horario de funcionamiento</span>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="far fa-lightbulb"></i>Luces
                        <span class="badge badge-primary badge-pill">{{ hlp }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-wind"></i> Ventilación
                        <span class="badge badge-primary badge-pill">{{ hvp }}</span>
                    </li>
                </ul>
            </div>  
        </div>
    </div>

    <div class="card-group row" *ngIf="mostrar">
        <div class="card">
            <div class="card-header">
                <h1 id="riego"><i class="fas fa-tint"></i> Riego</h1>
                <br>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div id= "regador" class="btn-group mr-2" role="group" aria-label="First group">
                            <button (click)='setBtnRegador()' type="button" class="btn {{btnRegador}}"><i class="fas fa-tint"></i> {{btnRegadorTxt}}</button>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h1 id="riego"><i class="fas fa-tint"></i> Riego</h1>
                <span>Horario de funcionamiento</span>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-tint"></i> Riego
                        <span class="badge badge-primary badge-pill">{{ hrg }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-group row" *ngIf="mostrar">
        <div class="card">
            <div class="card-header">
                <h1 id="planta1"><i class="fas fa-cog"></i> Ajustes</h1>
                <span>Ajustar respecto al horario</span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div id= "lock" class="btn-group mr-2" role="group" aria-label="First group">
                            <button (click)='setBtnLock()' type="button" class="btn {{btnLock}}"><i class="fas {{lockIcon}}"></i> {{btnLockTxt}}</button>
                        </div>
                    </div>
                </blockquote>
            </div>  
        </div>
    </div>
</div>
