.card {
    margin-top: 5%;
    width: 100%;
}

header {
    width: 100%;
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#titulo {
    text-align: center;
}

#b1p1, #b1p2 {
    margin-left: 30%;
}

#b2p1, #b2p2 {
    margin-top: 10%;
    margin-left: 18%;
}

#regador {
    margin-top: 10%;
    margin-left: 18%;
}

#lock {
    margin-left: 45%;
}

.card-header {
    text-align: center;
}

.container {
    margin-left: 50%;
}