<header class>
  <h1 id="titulo">Centro de control</h1>
</header>

<div class="container">
    <div class="card-group row">
        <div class="card">
            <div class="card-header">
                <h1 id="planta1">Planta 1</h1>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group" id="b1p1">
                            <button (click)='setBtn1p1()' type="button" class="btn {{btn1p1}}">{{btn1p1Txt}}</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group" id="b2p1">
                            <button (click)='setBtn2p1()' type="button" class="btn {{btn2p1}}">{{btn2p1Txt}}</button>
                        </div>
                    </div>
                </blockquote>
            </div>  
        </div>

        <div class="card">
            <div class="card-header">
                <h1 id="planta2">Planta 2</h1>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group" id="b1p2">
                            <button (click)='setBtn1p2()' type="button" class="btn {{btn1p2}}">{{btn1p2Txt}}</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group" id="b2p2">
                            <button (click)='setBtn2p2()' type="button" class="btn {{btn2p2}}">{{btn2p2Txt}}</button>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h1 id="riego">Riego</h1>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div id= "regador" class="btn-group mr-2" role="group" aria-label="First group">
                            <button (click)='setBtnRegador()' type="button" class="btn {{btnRegador}}">{{btnRegadorTxt}}</button>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>
