<header class>
  <h1 id="titulo">Centro de control</h1>
</header>

<div class="container">
    <div class="card">
    <div class="card-header">
        <h1>Luces </h1>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">Encender luz 1</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary">Encender luz 2</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="third group">
                    <button type="button" class="btn btn-secondary">Encender luz 3</button>
                </div>
            </div>
        </blockquote>
    </div>
    </div>

    <div class="card">
    <div class="card-header">
        <h1>Riego </h1>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div id= "regarplanta" class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">Regar planta 1</button>
                </div>
                
                <div id= "regarplanta" class="btn-group mr-2" role="group" aria-label="third group">
                    <button type="button" class="btn btn-secondary">Regar planta 2</button>
                </div>
            
            </div>
        </blockquote>
    </div>
    </div>

    <div class="card">
    <div class="card-header">
        <h1>Circulación del aire </h1>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div id= "encendervent" class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">Encender ventilador 1</button>
                </div>
                
                <div id= "encendervent" class="btn-group mr-2" role="group" aria-label="third group">
                    <button type="button" class="btn btn-secondary">Encender ventilador 2</button>
                </div>
            
            </div>
        </blockquote>
    </div>
    </div>
</div>
