<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>InvernaLife</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Navegador</p>
            <li class="active">
                <a (click)= 'gotoAdministrador()'>Administrador</a>
                
            </li>
            <li>
                <a (click)= 'gotoCentroControl()'>Centro de control</a>
            </li>
            <li>
                <a (click)= 'gotoDatosCapturados()' >Datos capturados</a>
            </li>
            <li>
                <a (click)= 'gotoReportes()'>Reportes</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>