<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>InvernaLife</h3>
        </div>

        <ul class="list-unstyled components">
            <p *ngIf="user">Hola {{ user?.displayName }}</p>
            <p>Navegador</p>
            <li *ngIf="!user">
                <a (click)= 'login()'>Login</a>    
            </li>
            <li *ngIf="!user">
                <a (click)= 'register()'>Registrarse</a>    
            </li>
            <li *ngIf="user">
                <a (click)= 'gotoAdministrador()'>Administrador</a>    
            </li>
            <li *ngIf="user">
                <a (click)= 'gotoCentroControl()'>Centro de control</a>
            </li>
            <li *ngIf="user">
                <a (click)= 'gotoDatosCapturados()' >Datos capturados</a>
            </li>
            <li *ngIf="user">
                <a (click)= 'gotoReportes()'>Reportes</a>
            </li>
            <li *ngIf="user">
                <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>