.card  {
    margin:10%;
    width: 100%;
}

header {
    width: 100%;
    margin-left: 120%;
    margin-top: 10%;
}

.container {
    width: 100%;
}

#titulo {
    text-align: center;
}

#titulo2 {
    text-align: center;
}