.card  {
    margin:10%;
    width: 100%;
}

header {
    width: 100%;
    margin-left: 110%;
    margin-top: 10%;
}

.card-header {
    text-align: center;
}

.container {
    width: 100%;
    margin-left: 10%;
}

#titulo {
    text-align: center;
}

#titulo2 {
    text-align: center;
}

#actualizar {
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#añadir {
    margin-left: 40%;
    margin-bottom: 5%;
}