header {
    width: 100%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#titulo {
    text-align: center;
}

.card-header {
    text-align: center;
}

.container {
    width: 100%;
    margin-left: 15%;
    margin-bottom: 10%;
}